

input {
    margin: 2px 10px 10px 5px;
}
.first label {
    font-size: 20px;
}
.first input {
    width: 400px;
    height: 25px;
}

#submit {
    background-color: violet;
    height: 50px;
    width: 100px;
   
    border-radius: 25%;
}

#submit:hover {
    background-color: blueviolet;
    width: 110px;
}




input:active {
    background-color: black;
    color: white;
}

p::before {
    content: "About Nihareeka College,  ";
    color: red;

   
}
form::after {
    content: "Thank you for visiting.";
    color:red;
   
}

